
<!doctype html>

<title>Grupo Advicers</title>

{% if seleccion %}
<p>Seleccionados</p>
<table>

<TR>
{% for selen in seleccion[0] %}
 <TD>{{selen}}</TD>
{% endfor %}
</TR>

{% for selen in seleccion[1] %}
<TR>
 {% for i in selen %}
 <TD>{{i[1]}}</TD>
 {% endfor %}
</TR>
{% endfor %}

</table>

{% endif %}

<p></p>


<form method="post">
<label for="query">field value</label><br>
<input type="text" id="key" name="key" placeholder="edad"><br>
<input type="text" id="val" name="val" placeholder="24"><br>
<input type="hidden" name="query" value="search">
<button type="submit" >Search</button>
</form>
<p></p>

<p>Clientes</p>
<table>

<TR>
{% for client in clientes[0] %}
 <TD>{{client}}</TD>
{% endfor %}
</TR>

{% for client in clientes[1] %}
<TR>
 {% for i in client %}
 <TD>{{i[1]}}</TD>
 {% endfor %}
</TR>
{% endfor %}

</table>

<p>Aspirante</p>
<form method="post" >
{% for i in aspirantefields %}
<input type="text" id="fields" name="fields[]" placeholder={{i}}><br>
{% endfor %}
<input type="hidden" name="query" value="submit">
<button type="submit" >Create</button>
